# TYPESCRIPT OPTIMIZATIONS FOR LOCAL DEVELOPMENT
TSC_COMPILE_ON_ERROR=true
TSC_WATCHFILE=UseFsEventsWithFallbackDynamicPolling

# DEFAULTS FOR LOCAL DEVELOPMENT IN THE BOXED DEVELOPMENT ENVIRONMENT.
MELON_SUBGRAPH=http://localhost:8000/subgraphs/name/melonproject/melon
